.brand-wrapper * {
  box-sizing: border-box;
}

.brand-wrapper {
  margin: 6rem auto;
  text-align: center;
}

.brand-heading {
  margin-bottom: 2rem;
}

.brand-heading span:first-of-type {
  color: rgb(30, 14, 5);
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.7rem;
}

.brand-heading span:last-of-type {
  color: rgb(71, 27, 5);
  font-size: 4rem;
  font-family: 'Times New Roman', serif;
  font-weight: normal;
  letter-spacing: 0.5rem;
}

.brands {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
}

.brand {
  display: block;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(177, 173, 104);
  border: 5px solid black;
  border-radius: 1rem;
  justify-self: center;
  align-self: center;
  width: 200px;
  height: 200px;
  transition: all 0.5s;
}

.brand:hover {
  width: 220px;
  height: 220px;
  background-color: rgb(187, 184, 124);
} 

.yamaha {
  background-image: url("image/brands/yamaha-logo.png");
}

.fender {
  background-image: url("image/brands/fender-logo.png");
}

.cort {
  background-image: url("image/brands/cort-logo.png");
}

.ibanez {
  background-image: url("image/brands/ibanez-logo.png");
}

.pearl {
  background-image: url("image/brands/pearl-logo.png");
}

.adams {
  background-image: url("image/brands/adams-logo.png");
}

.gibson {
  background-image: url("image/brands/gibson-logo.png");
}

.korg {
  background-image: url("image/brands/korg-logo.png");
}

.kramer-guitar {
  background-image: url("image/brands/kramer-guitar-logo.png");
}

.taylor {
  background-image: url("image/brands/taylor-logo.png");
}

.casio {
  background-image: url("image/brands/casio-logo.png");
}

.epiphone {
  background-image: url("image/brands/epiphone-logo.png");
}

.peavey {
  background-image: url("image/brands/peavey-logo.png");
}

.hohner {
  background-image: url("image/brands/hohner-logo.png");
}

.getzen {
  background-image: url("image/brands/getzen-logo.png");
}

@media all and (max-width: 1000px) {
  .brand-heading span:first-of-type {
    font-size: 1.8rem;
  }
  
  .brand-heading span:last-of-type {
    font-size: 2.8rem;
  }

  .brand {
    width: 120px;
    height: 120px;
  }

  .brand:hover {
    width: 140px;
    height: 140px;
  }
}

@media all and (max-width: 670px) {
  .brand-heading span:first-of-type {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
  
  .brand-heading span:last-of-type {
    font-size: 2rem;
  }

  .brands {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }

  .brand {
    width: 120px;
    height: 120px;
  }

  .brand:hover {
    width: 140px;
    height: 140px;
  }
}

@media all and (max-width: 412px) {
  .brand {
    width: 100px;
    height: 100px;
  }

  .brand:hover {
    width: 120px;
    height: 120px;
  }
}