@media only screen and (max-width: 1000px) {
    /* For tablets: */
  .form {
      width:100%;
      margin-right:0;
      margin-left:0;
      justify-content:flex-start;

  }

  form{
      margin-right:30px;
  }

  .maps {
    padding-top: 20px;
  }

  iframe{
    width:435px;
    height:350px;
  }

  .form input,textarea{
    width: 40vw;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
    font-size:16px;
  }

  .f-left{
    width: 40vw;
    padding-right:20px;
    text-align:justify;
    margin-right:20px;
}

.f-left p{
    margin-left:8px;

}

a{
    margin-left:6.5px;
}
.f1{
    width: 20vw;
    margin-right:30px;
}

.f2{
    width: 20vw;
    margin-right:0;
}

.f3{
    width: 20vw;
    margin-right:0;
}

.main-footer{
    background-color: black;
    color: white;
    padding: 10px;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

  }
  @media only screen and (max-width: 670px) {
    /* For mobile: */
    .form {
        width:100vw;
        margin-right:0;
        margin-left:0;
        justify-content:center;
  
    }
  
    iframe{
      display:none;
    }
  
    .form input,textarea{
      width: 80vw;
      margin-top:5px;
      margin-bottom:5px;
      padding:5px;
      font-size:16px;
    }
    .footer{
        display:none;
    }

    .f-left{
      width: 40vw;
      padding-right:20px;
      text-align:justify;
      margin-right:20px;
      display:none;
  }
  
  .f-left p{
      margin-left:8px;
  
  }
  
  a{
      margin-left:6.5px;
  }
  .f1{
      width: 20vw;
      margin-right:30px;
  }
  
  .f2{
      width: 20vw;
      margin-right:0;
  }
  
  .f3{
      width: 20vw;
      margin-right:0;
  }
  
  .main-footer{
      background-color: black;
      color: white;
      padding: 10px;
      width: 100vw;
      height: 50px;
      display: flex;
      justify-content: space-between;
  }

  .left li{
      font-size:12px;
  }

  .right{
    font-size:12px;
  }

  .logo {
      display:block;
      padding:4px;
      font-size:25px;
  }

  }